.App {
  /* text-align: center; */
}
:root {
  --header-footer-height: 5vh;
}
header {
  background-color: #282c34;
  /* min-height: 15vh; */
  max-height: var(--header-footer-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px 0px 5px 0px;
}

main {
  background-color: #bac2d3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 90vh;
}

footer {
  background-color: #061f57;
  display: flex;
  flex-direction: row;
  min-height: var(--header-footer-height);
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: var(--header-footer-height);
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Searchに当たる部分 */
.center {
  display: flex;
}
.tmpword,
.btn {
  font: caption;
  box-sizing: content-box;
  margin: auto;
}
.tmpword {
  width: 30vw;
}
